@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Header section */
#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #f765b3), url(../img/baner.avif);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 160px;
    position: absolute;
    top: 4%;
    left: 6%;
}

.banner-text {
    text-align: center;
    color: white;
    padding-top: 150px;
}

.banner-text h1 {
    font-size: 100px;
    font-family: 'Kaushan Script', cursive;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
}

.banner-btn {
    margin: 30px auto 0;
}

.banner-btn a {
    text-decoration: none;
    width: 150px;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    color: white;
    border: .5px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s ease;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s ease;
}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: black;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f765b3;
    z-index: 2;
    transition: 0.5s ease;
}

#sideNav nav ul li {
    list-style: none;
    margin: 50px 20px;
}

#sideNav nav ul li a {
    text-decoration: none;
    color: white;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: #f765b3;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
}

@media only screen and (max-width:770px) {
    .banner-text h1 {
        font-size: 50px;
    }

    .banner-text p {
        font-size: 15px;
    }

    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
}

/* End of header section */

/* Features section */
#feature {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #f765b3;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#f765b3, #fff);
    z-index: -1;
    top: -20px;
    left: 0;
    position: absolute;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1 {
    font-size: 50px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
    position: relative;
}

.overlay1 {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 76px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #f765b3);
}

.features-img img {
    width: 70%;
    border-radius: 10px;
}

.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #f765b3;
}

.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .shield {
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #f765b3;
    padding: 5px;
    border: 1px solid #f765b3;
}

.feature-text p {
    padding: 0 20px;
    text-align: initial;
}

@media only screen and (max-width:770px) {
    .title-text h1 {
        font-size: 35px;
    }

    .features {
        flex-basis: 100%;
    }

    .features-img {
        flex-basis: 100%;
    }

    .features-img img {
        width: 100%;
    }

    .overlay1 {
        top: 0;
        width: 100%;
        left: 0;
    }
}


/* End of features section */

/* Service section */
#service {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}

.single-service img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #f765b3);
    opacity: 0;
    transition: 1s ease;
}

.single-service:hover .overlay {
    opacity: 1;
}

.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s ease;
}

hr {
    background: white;
    height: 2px;
    border: 0;
    width: 60%;
    margin: 15px auto;
}

.service-desc p {
    font-size: 14px;
}

.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}

@media only screen and (max-width:770px) {
    .single-service {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .service-desc p {
        font-size: 12px;
    }

    .service-desc h3 {
        font-size: 20px;
    }

    hr {
        margin: 5px auto;
    }

    .single-service:hover .service-desc {
        bottom: 25% !important;

    }
}

/* End of service section */

/* <!-- Testimonials section --> */
#testimonial {
    width: 100%;
    padding: 70px 0;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 3px #f1cde1;
    transition: transform .5s ease;
}

.testimonial-col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 50px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info img {
    margin-left: 10px;
    width: 25px;
}

.user-info small {
    color: #f765b3;
}

.testimonial-col:hover {
    transform: translateY(-7px);
}

@media only screen and (max-width:770px) {
    .testimonial-col {
        flex-basis: 100%;
    }
}

/* <!-- End of testimonials section --> */


/* <!-- Footer section --> */
#footer {
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;

}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 35px;
}

.footer-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.social-links {
    text-align: center;
}

.social-links img {
    height: 20px;
    width: 20px;
    padding: 6px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #f765b3;
    margin: 40px 5px 0;
    cursor: pointer;
    transition: .5s ease;
}

.social-links img:hover {
    background: #f1cde1;
    transform: translateY(-7px);
}

.social-links p {
    font-size: 14px;
    margin-top: 20px;
}

@media only screen and (max-width:770px) {

    .footer-left,
    .footer-right {
        flex-basis: 100%;
        font-size: 14px;
    }

    .footer-img {
        top: 25%;
    }
}

/* <!-- End of footer section --> */
